<table class="table">

  <tbody>
    <tr>
      <td >Диагональ</td>
      <td>{{ product.diagonal }}</td>
    </tr>
     <tr>
      <td >Тип дисплея</td>
      <td>{{ product.display }}</td>
    </tr>
     <tr>
      <td >Мощность процессора</td>
      <td>{{ product.processor }}</td>
    </tr>
     <tr>
      <td >Время работы аккумулятора</td>
      <td>{{ product.battery_time }}</td>
    </tr>
     <tr>
      <td >Оперативная память</td>
      <td>{{ product.ram }}</td>
    </tr>
     <tr>
      <td >Bидеокарта</td>
      <td>{{ product.video_card }}</td>
    </tr>

  </tbody>
</table>



