<table class="table">

  <tbody>
    <tr>
      <td >Диагональ</td>
      <td>{{ product.diagonal }}</td>
    </tr>
     <tr>
      <td >Тип дисплея</td>
      <td>{{ product.display }}</td>
    </tr>
     <tr>
      <td >Разрешение экрана</td>
      <td>{{ product.resolution }}</td>
    </tr>
     <tr>
      <td >Наличие смарт тв</td>
      <td>{{ product.smart_tv }}</td>
    </tr>
     <tr>
      <td >Операционная система смарт</td>
      <td>{{ product.os_smart_tv }}</td>
    </tr>
     <tr>
      <td >Наличие беспроводного интернета</td>
      <td>{{ product.wifi }}</td>
    </tr>
    <tr>
      <td >Наличие бонусных подписок</td>
      <td>{{ product.bonus }}</td>
    </tr>
    <tr>
      <td >Какие именно подписки</td>
      <td>{{ product.bonus_name }}</td>
    </tr>

  </tbody>
</table>




